<h2>Welcome to Gifster!</h2>
<%= image_tag 'http://i.giphy.com/6459ZFRF1Wxna.gif', style: 'width: 100%;' %>
<span class='links'>
  <%= link_to "Signup", new_user_path, class: 'button' %> or <%= link_to "Login", login_path, class: 'button' %>
</span>